<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/xmas.css">
  <title>Christmas Countdown</title>
</head>
<body>
      <h1 class="message">Merry Christmas!</h1>
  <section>

    <div id="bell">🔔</div>
    <div id="countdown-container">
      <h1>Christmas Countdown Timer</h1>
      <div id="fold-chart" class="fold-chart">
        <div id="day" class="digit">
	  <p>Days</p>
	  <div class="code">
	    <div id="days"></div>
	  </div>
	</div>
        <div id="hour" class="digit">
	  <p>hrs</p>
	  <div class="code">
	    <div id="hours"></div>
	  </div>
	</div>
        <div id="minute" class="digit">
	  <p>mins</p>
	  <div class="code">
	    <div id="minutes"></div>
	  </div>
	</div>
        <div id="second" class="digit">
	  <p>secs</p>
	  <div class="code">
	    <div id="seconds"></div>
	  </div>
        </div>
      </div>
      <div id="decorations">
        <div class="decoration">🎄</div>
        <div class="decoration">🎅</div>
        <div class="decoration">🎁</div>
      </div>
    </div>
    <div id="bell">🔔</div>
  </section>
  <footer>
    <div class="f-items">
      <p><a href="https://github.com/fk2019">Github</a></p>
      <p><a href="https://www.linkedin.com/in/francis-kamau-792953252/">LinkedIn</a></p>
      <p>&copy; 2023 Francis Kamau</p>

    </div>
  </footer>
  <script src="../static/js/xmas.js"></script>
</body>
</html>
