/* styles.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0C0C0C;
    color: white;
}

.chat-container {
    display: flex;
    height: 100vh;
    background-image: url("../images/avatars/bubble.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.side-bar {
    display: flex;
    flex-direction: column;
    width: 20%;
    background-color: rgba(35, 43, 43, 0.8);
}

.logo-header {
    margin-bottom: 5px;
    margin-top: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    margin-left: 10px;
    border-bottom: 1px solid #54626F;
}
.logo-header > p{
    color: #FFA500;
    margin-left: 10px;
    width: 50%;

}
.logo-header > img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
}
.users-list {
    color: #ccc;
    overflow-y: auto;
    border-right: 1px solid #54626F;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.users-list > div {
    padding: 8px;
    cursor: pointer;
    border-bottom: 1px solid #54626F;
    display: flex;
}
.users-list > div > .user-pic {
    margin-left: 0;
}
.users-list > div > p{
    margin-right: auto;
    margin-left: 10px;
}
.users-list div:hover {
    background-color: #0F282F;
}

.chat-area {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.messages {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.chat-header {
    display: flex;
    max-height: 15%;
    margin-bottom: 20px;
    background-color: rgba(128, 0, 128, 1);
    align-items: center;
    justify-content: space-around;
    width: 100%vw;

}

.user-pic {
    margin-left: 10px;
    margin-top: 4px;
}
.user-pic > img {
    border-radius: 100%;
    width: 50px;
    height: 50px;
}
.right-nav {
    justify-content: center;
    display: flex;
    justify-content: space-around;
    gap: 2em;
}
.current-user {
    align-items: center;
    display: flex;
    color: #FFA500;
    max-width: 13rem;
    .user {
	margin-right: 1em;
	margin-left: 0.5em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
    }
}
.user-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    height: 10px;
    width: 1rem;
    margin-top: 13px;
    margin-bottom: 5px;
}
.menu {
    width: 1rem;
}
.menu-list {
    display: none;
    list-style-type: none;
    flex-direction: column;
    padding-left: 0;
    background-color: rgba(128, 0, 128, 0.8);
    margin-left: -35px;
    margin-right: auto;
    z-index: 1;
    margin-top: 13px;
    width: 90px;
    color: white;

}
li {
    font-size: 0.6em;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 1px solid #54626F;
    width: 85%;
    color: white;
}
li:first-child {
    margin-top: 10px;
}
li > a > p {
    color: white;
}
li > p{
    padding-bottom: 4px;
    padding-top: 4px;
    color: white;
}
li:hover {
    background-color: rgba(128, 0, 128, 1);
    padding-right: 0;
}
li:hover p {
    color: #FFA500;
}
.user-menu:hover .menu-list {
    display: flex;
}
form {
    margin-top: -4.6em;
    margin-right: 0.5em;
    max-width: 15em;
    border-radius: 5px;
    display: none;
    z-index: 1;
    margin-left: auto;
    color: #FFA500;
    flex-direction: column;
    background-color: rgba(35, 43, 43, 1);
    padding-right: 0.5em;
    padding-left: 0.5em;
    i{
	align-self: flex-end;
	color: rgba(35, 43, 43, 0.8);
	background-color: rgba(255, 165, 0);
    }
    .gg-arrow-right {
	color: rgba(255, 165, 0);
	margin-left: auto;
	margin-right: 0.5em;
	background: none;
	margin-bottom: 2em;
    }
    label, .form-input {
	margin-left: 0.5em;
	margin-bottom: 0.5em;
	margin-right: auto;
    }
    .form-input {
	display: flex;
	align-items: center;
	/*border: 1px solid yellow;*/
    }
    input {
	margin-right: 0.5em;
	box-sizing: border-box;
	background: none;
	outline: none;
	border-color: transparent;
	color: rgba(255, 165, 0);
	background-color: rgba(35, 43, 43, 1);
	border: 1px solid white;
	width: 8em;
    }
    button {
	display: flex;
	padding: 0;
	background: none;
	margin: 0;
	border: none;
    }
    p {
	margin: 0.5em;

    }

}

.header-button {
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
    color: #FFA500;
    padding: 20px;
}
a {
    text-decoration: none;
    color: #FFA500;
}
.user-header {
    display: flex;
    margin-right: auto;
}
.user-header > div {
    margin-right: auto;
    display: flex;
}
.user-name {
    margin-left: 10px;
    margin-right: 10px;
}

.typing-indicator {
    padding: 10px;
     color: #FFA500;
}

.message-input {
    display: flex;
    padding: 10px;

}

textarea {
    flex: 1;
    resize: none;
    padding: 5px;
    background-color: rgba(128, 0, 128, 0.8);
    border-radius: 8px;
    color: #FFA500;
}

button {
    padding: 5px 10px;
    margin-left: 10px;
    background-color: rgba(128, 0, 128, 0.8);
    display: none;
    color: #FFA500;
    border-radius: 8px;
    cursor: pointer;
}


.sent-message {
    background-color: rgba(128, 0, 128, 1);
    padding: 8px;
    border-radius: 8px;
    margin-bottom: 5px;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    gap: 0.5 rem;
}
.sent-message > p{
    color: #FFA500;
}
.received-message {
    background-color: #FFA500;
    padding: 8px;
    border-radius: 8px;
    margin-bottom: 5px;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    gap: 0.5 rem;
}
.received-message > p {
    color: #800080;
}
.received-message > .time {
    color: rgba(128, 0, 128, 0.6);
}
.sent-message > .time {
    color: rgba(255, 165, 0, 0.7);
}
.time {
    font-size: 0.6rem;
    margin-left: auto;
    margin-bottom: 0;
    margin-right: 0;
}
.file-label {
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: -35px;
    margin-top: auto;
    margin-bottom: auto;
    padding: 5px;
    color: #FFA500;

}

input[type="file"] {
    display: none;
}

.uploaded-image {
    width: 100%;
    border-radius: 5px;
    padding-bottom: 0.5rem;
}

p {
    color: #FFA500;
    margin-top: auto;
    margin-bottom: auto;
}
.gg-arrow-left.back {
    display: none;
}
/* edit scroll bar */
/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: blue orange;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
    background: orange;
    border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #800080;
  border-radius: 20px;
  border: 3px solid orange;
}

@media only screen and (max-width: 768px) {
    .chat-header {
	margin-right: 0;
	margin-top: 0;
    }
    .side-bar {
	width: 100%;
	opacity: 100%;
    }
    .active-sb {
	display: none;
    }
    .chat-area {
	display: none;
    }
    .gg-arrow-left.back {
	display: flex;
	margin-left: 1rem;
	color: orange;
    }
    .current-user {
	margin-right: 1rem;
	gap: 1rem;
    }
    .header-button, .user {
	display: none;
    }
}
